@model BitirmeProjesi.Entities.Dtos.MovieDto

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        @await Html.PartialAsync("_LayoutListGroupPartial")

        <div class="col-lg-7">

            <div class="card mt-6">

                <img class="card-img-top " src="~/img/@Model.Movie.ThumbNail">
                <div class="card-body">
                    <h3 class="card-title"></h3>
                    <h4 class="text-info text-center">@Model.Movie.Title</h4>
                    <p class="card-text">@Model.Movie.Subject</p>
                    <span class="text-info">Yönetmen:</span>
                    @Model.Movie.Scenarist
                    <br />
                    <span class="text-info"> Süre:</span>
                    @Model.Movie.Time 
                    <br />
                    <span class="text-info">Kategori:</span>
                    @Model.Movie.Category
                    <br />
                    <span class="text-info">Kitap Tarzı:</span>
                    @Model.Movie.Production
                    <br />
                </div>
                </div>
                <!-- /.card -->

                <div class="card card-outline-secondary my-4">
                    <div class="card-header text-center">
                        Film Yorumları
                    </div>
                    <div class="card-body">
                        <p  id="placeHolderMovies"></p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <a href="#" class="btn btn-warning text-center">Aktivitelere Ekle</a>
                    </div>
                </div>
               
            </div>

        </div>

    </div>
