@model BitirmeProjesi.Entities.Dtos.MovieDto

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-lg-3">

        </div>

        <div class="col-lg-7 p-5">

            <div class="card mt-6">

                <img class="card-img-top " src="~/img/@Model.Movie.ThumbNail">
                <div class="card-body">
                    <h3 class="card-title"></h3>
                    <h4 class="text-info text-center">@Model.Movie.Title</h4>
                    <p class="card-text">@Model.Movie.Subject</p>
                    <span class="text-info">Yönetmen:</span>
                    @Model.Movie.Scenarist
                    <br />
                    <span class="text-info"> Süre:</span>
                    @Model.Movie.Time
                    <br />
                    <span class="text-info">IMDb: </span>
                    @Model.Movie.Imdb /10
                    <br />
                    <span class="text-info">Kategori:</span>
                    @Model.Movie.Category.Name
                    <br />
                    <span class="text-info">Kitap Tarzı:</span>
                    @Model.Movie.Production
                    <br />
                    <span class="text-info">Vizyona Çıkış Tarihi</span>
                    @Model.Movie.Date.ToShortDateString()
                    <br />
                    

                </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header  text-center text-info">
                    Yorumlar
                </div>
                @foreach (var movie in Model.Movie.Comments)
                {
                    <div class="card-body">
                        <p class="font-weight-bold">@movie.Title</p>
                        <p>@movie.Subject</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>

                    </div>

                }
                <div class="text-center">
                    <a href="#" class="btn btn-info text-center" data-toggle="modal" data-target="#exampleModal" data-id="@Model.Movie.Id">Aktivitelere Ekle</a>
                </div>
                <div class="card-header  text-center text-info">

                </div>

                <!-- /.card -->
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Uyarı</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center lead">
                            @Model.Movie.Title isimli kitabı aktivitelere eklemek istediğinize emin misiniz?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                            <button id="btnSave" type="button" class="btn btn-info">Listeye Ekle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#exampleModal").on("show.bs.modal", function (event) {
                let tetikleyenElement = $(event.relatedTarget);
                let data = tetikleyenElement.data("id");

                $("#btnSave").click(function () {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "/Movie/Details/AddList",
                        data: { Id: data },
                        success: function () {
                            toastr.success ("@Model.Movie.Title isimli kitap aktivitelere başarıyla eklendi.");
                            $('#exampleModal').modal('hide');
                        },
                        error: function (error) {
                            toastr.error(error.responseText);
                        }
                    })
                })
            });
        });
    </script>

}

