@model BitirmeProjesi.Entities.Dtos.MovieListDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Comments.css" rel="stylesheet" />
<style>
    img {
        height: 50%;
        width: 50%;
    }
</style>

@if (Model.ResultStatus == BitirmeProjesi.Shared.Utilities.Results.Complex_Types.ResultStatus.Success)
{
    <div id="placeHolderMovies" aria-hidden="true"></div>
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <a asp-area="" asp-controller="Home" asp-action="Index" class="my-4 text-info w-400 h-400 btn btn-lg">FunBox </a>
                <div class="list-group ">
                    <a asp-area="Admin" asp-controller="Movie" asp-action="Index" asp-route-id="null" class="list-group-item text-info">Tüm Kategoriler</a>
                    @foreach (var categories in Model.Categories)
                    {

                        <a asp-area="Admin" asp-controller="Movie" asp-action="Index" asp-route-id="@categories.Id" class="list-group-item text-info @(ViewBag.SelectedCategory==categories.Id.ToString()?"active":"")">@categories.Name</a>

                    }


                </div>
            </div>
          
            <div class="col-lg-9 p-3 pt-5">

                <div class="row">

                    @foreach (var movie in Model.Movies)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top" src="~/img/@movie.ThumbNail" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a asp-area="Admin" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id" class="text-info">@movie.Title</a>
                                    </h4>

                                    <p class="card-text">
                                        @movie.Subject
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a type="button" class="btn btn-info  btn-circle text-uppercase" id="DetailsMovies" asp-area="Admin" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id">Detaylar</a>
                                    <a type="button" class="btn btn-info  btn-circle text-uppercase" id="AddCommentMovies" asp-area="Admin" asp-controller="Movie" asp-action="AddComment" asp-route-id="@movie.Id">Yorum Ekle</a>
                                </div>

                            </div>
                        </div>
                    }


                </div>
               
            </div>
           
        </div>
       
    </div>
}