@model BitirmeProjesi.Entities.Dtos.BookSerieMovieDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="row" id="HomePage">

        <div class="col-lg-3 bg-transparent">
            @*EKLEME YAPILABİLİR*@
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9 p-5">

            <div class="row">

                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="card h-100">

                        <div class="card-body ">
                            <h5 class="card-title text-center text-info">Okunacak Kitaplar Listesi</h5>

                        </div>
                        @foreach (var book in Model.Books)
                        {

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">@book.Title</li>
                                <li class=" btn btn-group-toggle">
                                    <a asp-area="Admin" asp-controller="Book" asp-action="Details" class="btn btn-sm text-info">Listeden Çıkar</a>
                                    <a asp-area="Admin" asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="btn btn-sm text-info">Detaylar</a>
                                </li>

                            </ul>

                        }


                    </div>
                </div>



                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="card h-100">

                        <div class="card-body ">
                            <h5 class="card-title text-center text-info">İzlenilecek Diziler Listesi</h5>

                        </div>
                        @foreach (var serie in Model.Series)
                        {

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">@serie.Title</li>
                                <li class=" btn btn-group-toggle">
                                    <a asp-area="Admin" asp-controller="Seri" asp-action="Details" class="btn btn-sm text-info">Listeden Çıkar</a>
                                    <a asp-area="Admin" asp-controller="Serie" asp-action="Details" asp-route-id="@serie.Id" class="btn btn-sm text-info">Detaylar</a>
                                </li>

                            </ul>
                        }


                    </div>
                </div>




                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="card h-100">

                        <div class="card-body ">
                            <h5 class="card-title text-center text-info">İzlenilecek Filmler Listesi</h5>

                        </div>
                        @foreach (var movie in Model.Movies)
                        {

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">@movie.Title</li>
                                <li class=" btn btn-group-toggle">
                                    <a asp-area="Admin" asp-controller="Movie" asp-action="Details" class="btn btn-sm text-info">Listeden Çıkar</a>
                                    <a asp-area="Admin" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-sm text-info">Detaylar</a>
                                </li>

                            </ul>
                        }
                        

                    </div>
                </div>



            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->


</div>
}