@model BitirmeProjesi.Entities.Dtos.BookSerieMovieDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Comments.css" rel="stylesheet" />


<div class="container ">

    

        <div class="col-lg-12 p-5">

            <div class="row">

                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="card" style="width:300px; height:auto;">

                        <div class="card-body ">
                            <h5 class="card-title text-center text-info">Okunacak Kitaplar Listesi</h5>

                        </div>
                        @foreach (var book in Model.Books)
                        {

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item p-2 text-center float-right"> @book.Title<img src="~/img/@book.ThumbNail" class=" float-left" style="width:100px; height:100px;" /> <br /></li>
                               
                                <li class=" btn btn-group-toggle">
                                    <a asp-area="Admin" asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="btn btn-sm text-info btn-circle text-uppercase">Detay</a>
                                    <a asp-area="Admin" asp-controller="Book" asp-action="Details" class="btn btn-sm text-danger btn-circle text-uppercase" data-toggle="modal" data-target="#exampleModalBook" data-id="@book.Id">Listeden Sil</a>
                                </li>

                            </ul>

                        }

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="card" style="width:300px; height:auto;">

                        <div class="card-body ">
                            <h5 class="card-title text-center text-info">İzlenilecek Diziler Listesi</h5>

                        </div>
                        @foreach (var serie in Model.Series)
                        {

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item p-2 text-center float-right"> @serie.Title<img src="~/img/@serie.ThumbNail" class=" float-left" style="width:100px; height:100px;" /> <br /></li>

                                <li class=" btn btn-group-toggle">
                                    <a asp-area="Admin" asp-controller="Serie" asp-action="Details" asp-route-id="@serie.Id" class="btn btn-sm text-info btn-circle text-uppercase">Detay</a>
                                    <a asp-area="Admin" asp-controller="Serie" asp-action="Details" class="btn btn-sm text-danger btn-circle text-uppercase" data-toggle="modal" data-target="#exampleModalSerie" data-id="@serie.Id">Listeden Sil</a>
                                </li>

                            </ul>
                        }

                    </div>
                </div>


                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="card" style="width:300px; height:auto;">

                        <div class="card-body ">
                            <h5 class="card-title text-center text-info">İzlenilecek Filmler Listesi</h5>

                        </div>
                        @foreach (var movie in Model.Movies)
                        {

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item p-2 text-center float-right"> @movie.Title<img src="~/img/@movie.ThumbNail" class=" float-left" style="width:100px; height:100px;" /> <br /></li>
                                <li class=" btn btn-group-toggle">
                                    <a asp-area="Admin" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-sm text-info btn-circle text-uppercase">Detay</a>
                                    <a asp-area="Admin" asp-controller="Movie" asp-action="Details" class="btn btn-sm text-danger btn-circle text-uppercase" data-toggle="modal" data-target="#exampleModalMovie" data-id="@movie.Id">Listeden Sil</a>
                                </li>

                            </ul>
                        }

                    </div>
                </div>

                <div class="modal fade" id="exampleModalBook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Uyarı</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center lead">
                                Listeden çıkarmak istediğinize emin misiniz?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary  btn-circle text-uppercase" data-dismiss="modal">Vazgeç</button>
                                <button id="btnSaveBook" type="button" class="btn btn-danger btn-circle text-uppercase">Listeden Çıkar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModalMovie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Uyarı</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center lead">
                                Listeden çıkarmak istediğinize emin misiniz?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary  btn-circle text-uppercase" data-dismiss="modal">Vazgeç</button>
                                <button id="btnSaveMovie" type="button" class="btn btn-danger btn-circle text-uppercase">Listeden Çıkar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModalSerie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Uyarı</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center lead">
                                Listeden çıkarmak istediğinize emin misiniz?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary  btn-circle text-uppercase" data-dismiss="modal">Vazgeç</button>
                                <button id="btnSaveSerie" type="button" class="btn btn-danger btn-circle text-uppercase">Listeden Çıkar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#exampleModalMovie").on("show.bs.modal", function (event) {
                let tetikleyenElement = $(event.relatedTarget);
                let data = tetikleyenElement.data("id");

                $("#btnSaveMovie").click(function () {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "./Activities/RemoveActivityMovie",
                        data: { Id: data },
                        success: function () {
                            window.location.reload();
                        },
                        error: function (error) {
                            alert(error.responseText);
                        }
                    })
                })
            });
        });
        $(document).ready(function () {
            $("#exampleModalSerie").on("show.bs.modal", function (event) {
                let tetikleyenElement = $(event.relatedTarget);
                let data = tetikleyenElement.data("id");

                $("#btnSaveSerie").click(function () {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "./Activities/RemoveActivitySerie",
                        data: { Id: data },
                        success: function () {
                            window.location.reload();
                        },
                        error: function (error) {
                            alert(error.responseText);
                        }
                    })
                })
            });
        });
        $(document).ready(function () {
            $("#exampleModalBook").on("show.bs.modal", function (event) {
                let tetikleyenElement = $(event.relatedTarget);
                let data = tetikleyenElement.data("id");

                $("#btnSaveBook").click(function () {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "./Activities/RemoveActivityBook",
                        data: { Id: data },
                        success: function () {
                            window.location.reload();
                        },
                        error: function (error) {
                            alert(error.responseText);
                        }
                    })
                })
            });
        });
    </script>

}