@model BitirmeProjesi.Entities.Dtos.BookListDto;
@{ Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }
<html>
<body class="sb-nav-fixed">

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">

                </div>

            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h3 class="mt-4">KEŞFET</h3>


                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Kitaplar
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="discoverBookDataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>

                                            <th>Resim</th>
                                            <th>İsim</th>
                                            <th>Sayfa Sayısı</th>
                                            <th>Yazar</th>
                                            <th>Basım Tarihi</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var book in Model.Books)
                                        {
                            <tr>

                                <td><img style="width: 100px; height: 100px;" src="~/img/@book.ThumbNail"></td>
                                <td><a asp-area="Admin" asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">@book.Title</a></td>
                                <td>@book.Page</td>
                                <td>@book.Writer</td>
                                <td>@book.Date.ToShortDateString()</td>

                            </tr>}
                           
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        </div>
    </div>

</body>
</html>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#discoverBookDataTable').DataTable();
        });
        $('#discoverBookDataTable').DataTable({
            language: {
                info: "_TOTAL_ kayıttan _START_ - _END_ kayıt gösteriliyor.",
                infoEmpty: "Gösterilecek hiç kayıt yok.",
                loadingRecords: "Kayıtlar yükleniyor.",
                lengthMenu: "Sayfada _MENU_ kayıt göster",
                zeroRecords: "Eşleşen kayıt bulunmamaktadır.",
                search: "Arama:",
                infoFiltered: "(toplam _MAX_ kayıttan filtrelenenler)",
                buttons: {
                    copyTitle: "Panoya kopyalandı.",
                    copySuccess: "Panoya %d satır kopyalandı",
                    copy: "Kopyala",
                    print: "Yazdır",
                },

                paginate: {
                    first: "İlk",
                    previous: "Önceki",
                    next: "Sonraki",
                    last: "Son"
                },
            }
        });
    </script>
}

