@model BitirmeProjesi.Entities.Dtos.BookSerieMovieDto;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<html>
<body class="sb-nav-fixed">

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">

                </div>

            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h3 class="mt-4">KEŞFET</h3>


                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table mr-1"></i>
                            Imdb Puanına göre Film ve Diziler
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="ımdbTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>

                                            <th>Resim</th>
                                            <th>İsim </th>
                                            <th>Tür</th>
                                            <th>Imdb</th>
                                            <th>Senarist</th>
                                            <th>Çıkış Tarihi</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var movie in Model.Movies)
                                        {
                            <tr>

                                <td><img style="width: 100px; height: 100px;" src="~/img/@movie.ThumbNail"></td>
                                <td> <a asp-area="Admin" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id">@movie.Title</a> </td>
                                <td>Film</td>
                                <td class="text-warning"> <img src="~/img/star.png" >  @movie.Imdb</td>
                                <td>@movie.Scenarist</td>
                                <td>@movie.Date.ToShortDateString()</td>

                            </tr>}
                                        @foreach (var serie in Model.Series)
                                        {
                            <tr>
                                <td><img style="width:100px; height:100px;" src="~/img/@serie.ThumbNail"></td>
                                <td><a asp-area="Admin" asp-controller="Serie" asp-action="Details" asp-route-id="@serie.Id">@serie.Title</a></td>
                                <td>Dizi</td>
                                <td class="text-warning"> <img class="18rem" src="~/img/star.png"> @serie.Imdb </td>
                                <td>@serie.Scenarist</td>
                                <td>@serie.Date.ToShortDateString()</td>

                            </tr>}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        </div>
    </div>

</body>
</html>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#ımdbTable').DataTable();
        });
    </script>
}

