@model BitirmeProjesi.Entities.Dtos.SerieListDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@if (Model.ResultStatus == BitirmeProjesi.Shared.Utilities.Results.Complex_Types.ResultStatus.Success)
{
    <div class="container">

        <div class="row">

            @await Html.PartialAsync("_LayoutListGroupPartial")
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="row">

                    @foreach (var serie in Model.Series)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top" src="~/img/@serie.ThumbNail" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a asp-area="Admin" asp-controller="Serie" asp-action="Details" asp-route-id="@serie.Id">@serie.Title</a>
                                    </h4>

                                    <p class="card-text">
                                        @serie.Subject
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a type="button" class="btn btn-primary" id="DetailsSeries" asp-area="Admin" asp-controller="Serie" asp-action="Details" asp-route-id="@serie.Id">Details</a>
                                    <a type="button" class="btn btn-primary" id="AddListSeries">Add List</a>
                                </div>
                                <div class="card-footer" id="placeHolderSeries">

                                </div>
                            </div>
                        </div>
                    }


                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->


    </div>
}
@*@section Scripts{
    <script>

        $(function () {
            const url = '@Url.Action("Add","Comment")';
            const placeHolderSeries = $('#placeHolderSeries');
            $('#DetailsSeries').click(function () {
                $.get(url).done(function (data) {
                    placeHolderSeries.html(data);
                    placeHolderSeries.find(".modal").modal('show');
                })
            });
        })
    </script>
}*@