@model BitirmeProjesi.Entities.Dtos.SerieListDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@if (Model.ResultStatus == BitirmeProjesi.Shared.Utilities.Results.Complex_Types.ResultStatus.Success)
{
    <div class="container">

        <div class="row">
            <div class="col-lg-3">

                <h4 class="my-4 text-info h-auto w-auto">E-Hobilerim </h4>
                <div class="list-group ">
                    <a asp-area="Admin" asp-controller="Serie" asp-action="Index" asp-route-id="null" class="list-group-item text-info">Tüm Kategoriler</a>
                    @foreach (var categories in Model.Categories)
                    {
                        <a asp-area="Admin" asp-controller="Serie" asp-action="Index" asp-route-id="@categories.Id" class="list-group-item text-info  @(ViewBag.SelectedCategory==categories.Id.ToString()?"active":"")">@categories.Name</a>

                    }


                </div>
            </div>

            <div class="col-lg-9 p-3 pt-5">

                <div class="row">

                    @foreach (var serie in Model.Series)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top" src="~/img/@serie.ThumbNail" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a asp-area="Admin" asp-controller="Serie" asp-action="Details" asp-route-id="@serie.Id" class="text-info">@serie.Title</a>
                                    </h4>

                                    <p class="card-text">
                                        @serie.Subject
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a type="button" class="btn btn-info" id="DetailsSeries" asp-area="Admin" asp-controller="Serie" asp-action="Details" asp-route-id="@serie.Id">Detaylar</a>
                                    <a type="button" class="btn btn-info" id="AddCommentSeries" asp-area="Admin" asp-controller="Serie" asp-action="AddComment" asp-route-id="@serie.Id">Yorum Ekle</a>
                                </div>

                            </div>
                        </div>
                    }


                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->


    </div>
}
