@model BitirmeProjesi.Entities.Dtos.SerieQuestionDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<link href="~/css/MoodTest.css" rel="stylesheet" />


<div class="row">
    <div class="container text-center col-md-4 ">
        <div class="modal-dialog p-2">
            @foreach (var test in Model.SerieQuestions)
            {
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="text-info"><span class="label label-warning text-info" id="question"></span>@test.QuestionText </h2>
                    </div>
                    <div class="modal-body">
                        <div class="quiz" id="quiz" data-toggle="buttons">
                            <label class=" btn btn-lg btn-primary btn-block"><span class="btn-label"></span> <input type="radio" name="q_answer" value="@test.OptionsOne">@test.OptionsOne</label>
                            <label class=" btn btn-lg btn-primary btn-block"><span class="btn-label"></span> <input type="radio" name="q_answer" value="@test.OptionsTwo">@test.OptionsTwo</label>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container text-center col-md-6 " id="SuggestionScreen">
        <div class="modal-dialog p-2">
            <div class="modal-content">
                <div class="modal-header ">
                    <h2 class="text-info"><span class="label label-warning text-info"></span>Senin İçin Önerilerimiz </h2>
                </div>
                <div class="modal-body">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                        <a class="card-header bg-info text-dark" id="answer1Title"> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#SuggestionScreen').hide();
            $("label.btn").on('click', function () {
                var choice = $(this).find('input:radio').val();
                console.log(choice);
                if (choice == "1 saat veya daha kısa")
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "./GetSerieLessThanOneHour",
                        success: function (result) {
                            $('#SuggestionScreen').show();
                            const resultSerie = jQuery.parseJSON(result);

                            if (resultSerie.ResultStatus === 0) {
                                let answerResult = "";
                                $.each(resultSerie.Series.$values,
                                    function (index, serie) {
                                        answerResult += `
                                                                                     <div class="card-header bg-info"> ${serie.Title}</div>


                                                                                    `;
                                    }
                                );
                                $('#answer1Title').replaceWith(answerResult);

                            }
                        }
                    });

                else if (choice == "1 saatten daha uzun") {

                    $('#suggestionscreen').hide();
                    $.ajax({
                        type: "GET",
                        contenttype: "application/json; charset=utf-8",
                        url: "./GetSerieMoreThanOneHour",
                        success: function (result) {
                            $('#SuggestionScreen').show();
                            const resultSerieLess = jQuery.parseJSON(result);

                            if (resultSerieLess.ResultStatus === 0) {
                                let answerResultLess = "";
                                $('#answer1Title').html(" ");
                                $.each(resultSerieLess.Series.$values,
                                    function (index, serie) {
                                        answerResultLess += `
                                                                                    <div class="card-header bg-info"> ${serie.title}</div>

                                                                                    `;
                                    }
                                );
                                $('#answer1Title').replaceWith(answerResultLess);
                            }
                        }
                    });
                }
                else if (choice == "Evet,7 ve üzeri olmalı") {

                    $('#SuggestionScreen').hide();
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "./GetImdbGreaterThanSeven",
                        success: function (result) {
                            $('#SuggestionScreen').show();
                            const resultSerieLess = jQuery.parseJSON(result);

                            if (resultSerieLess.ResultStatus === 0) {
                                let answerResultLess = "";
                                $('#answer1Title').html(" ");
                                $.each(resultSerieLess.Series.$values,
                                    function (index, serie) {
                                        answerResultLess += `
                                                                                    <div class="card-header bg-info"> ${serie.Title}</div>

                                                                                    `;
                                    }
                                );
                                $('#answer1Title').replaceWith(answerResultLess);
                            }
                        }
                    });
                }
                else if (choice == "Hayır bu benim için bir kriter değil") {

                    $('#SuggestionScreen').hide();
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "./GetImdbAll",
                        success: function (result) {
                            $('#SuggestionScreen').show();
                            const resultSerieLess = jQuery.parseJSON(result);

                            if (resultSerieLess.ResultStatus === 0) {
                                let answerResultLess = "";
                                $('#answer1Title').html(" ");
                                $.each(resultSerieLess.Series.$values,
                                    function (index, serie) {
                                        answerResultLess += `
                                                                                    <div class="card-header bg-info"> ${serie.Title}</div>

                                                                                    `;
                                    }
                                );
                                $('#answer1Title').replaceWith(answerResultLess);
                            }
                        }
                    });
                }
                else if (choice == "5 sezon ve daha az") {

                    $('#SuggestionScreen').hide();
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "./GetSerieLessThanFiveSeason",
                        success: function (result) {
                            $('#SuggestionScreen').show();
                            const resultSerieLess = jQuery.parseJSON(result);

                            if (resultSerieLess.ResultStatus === 0) {
                                let answerResultLess = "";
                                $('#answer1Title').html(" ");
                                $.each(resultSerieLess.Series.$values,
                                    function (index, serie) {
                                        answerResultLess += `
                                                                                    <div class="card-header bg-info"> ${serie.Title}</div>

                                                                                    `;
                                    }
                                );
                                $('#answer1Title').replaceWith(answerResultLess);
                            }
                        }
                    });
                }
                else if (choice == "5 sezondan daha fazla") {

                    $('#SuggestionScreen').hide();
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "./GetSerieMoreThanFiveSeason",
                        success: function (result) {
                            $('#SuggestionScreen').show();
                            const resultSerieLess = jQuery.parseJSON(result);

                            if (resultSerieLess.ResultStatus === 0) {
                                let answerResultLess = "";
                                $('#answer1Title').html(" ");
                                $.each(resultSerieLess.Series.$values,
                                    function (index, serie) {
                                        answerResultLess += `
                                                                                    <div class="card-header bg-info"> ${serie.Title}</div>

                                                                                    `;
                                    }
                                );
                                $('#answer1Title').replaceWith(answerResultLess);
                            }
                        }
                    });
                }

            });
        });
    </script>
}
