@model BitirmeProjesi.Entities.Dtos.BookDto

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<link href="~/css/Comments.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-lg-3">

        </div>

        <div class="col-lg-7 p-5">

            <div class="card mt-6 ">

                <img class="card-img-top  " src="~/img/@Model.Book.ThumbNail">
                <div class="card-body">
                    <h3 class="card-title"></h3>
                    <h4 class="text-info text-center">@Model.Book.Title</h4>
                    <p class="card-text">@Model.Book.Subject</p>
                    <span class="text-info">Yazar:</span>
                    @Model.Book.Writer
                    <br />
                    <span class="text-info">Sayfa Sayısı:</span>
                    @Model.Book.Page
                    <br />
                    <span class="text-info">Kategori:</span>
                    @Model.Book.Category.Name
                    <br />
                    <span class="text-info">Kitap Tarzı:</span>
                    @Model.Book.Production
                    <br />
                    <span class="text-info">Basım Tarihi:</span>
                    @Model.Book.Date.ToShortDateString()
                    <br />


                </div>
            </div>
            <!-- /.card -->


            <div class="card card-outline-secondary my-4">
                @if (Model.Book.BookComments.Count > 0)
                {
                    @foreach (var book in Model.Book.BookComments)
                    {
                        <div class="card-header  text-center text-info">
                            Yorumlar
                        </div>
                        <div class="card-body">
                            <p class="font-weight-bold">@book.Title</p>
                            <p>@book.Subject</p>
                            <div class="d-flex align-items-baseline">
                                <small class="text-muted">@book.AuthorName @DateTime.Now.ToShortDateString()</small>
                                <div class="card-body ">
                                    <a asp-area="Admin" asp-controller="Book" asp-action="CommentUpdatePartial" asp-route-id="@book.Id"><img src="~/img/editicon.png" style="width:25px; height:25px;" /> </a>
                                    <a class=" btnDelete"data-toggle="modal" data-target="#exampleModalDelete"  data-id="@book.Id"> <img src="~/img/deleteicon.png" style="width:25px; height:25px;" /></a>

                                </div>
                            </div>

                        </div>

                    }

                }
                <div class=" card-header text-center">
                    <a class="btn btn-info  btn-circle text-uppercase" data-toggle="modal" data-target="#exampleModal" data-id="@Model.Book.Id">Aktivitelere Ekle</a>
                </div>
            </div>



            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Uyarı</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center lead">
                        @Model.Book.Title isimli kitabı aktivitelere eklemek istediğinize emin misiniz?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class=" btn btn-secondary  btn-circle text-uppercase" data-dismiss="modal">Vazgeç</button>
                        <button id="btnSave" type="button" class="btn btn-info btn-circle text-uppercase">Listeye Ekle</button>
                    </div>
                </div>
            </div>
        </div>
            <div class="modal fade" id="exampleModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Uyarı</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center lead">
                            Yorumunuzu silmek istediğinize emin misiniz?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary  btn-circle text-uppercase" data-dismiss="modal">Vazgeç</button>
                            <button id="btnDelete" type="button" class="btn btn-danger btn-circle text-uppercase">Sil</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#exampleModal").on("show.bs.modal", function (event) {
                let tetikleyenElement = $(event.relatedTarget);
                let data = tetikleyenElement.data("id");

                $("#btnSave").click(function () {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "/Book/Details/AddList",
                        data: { Id: data },
                        success: function () {
                            toastr.success("@Model.Book.Title isimli kitap aktivitelere başarıyla eklendi.");
                            $('#exampleModal').modal('hide');
                        },
                        error: function (error) {
                            toastr.error(error.responseText);
                        }
                    })
                })
            });
        });
          $(document).ready(function () {
              $("#exampleModalDelete").on("show.bs.modal", function (event) {
                let tetikleyenElement = $(event.relatedTarget);
                let data = tetikleyenElement.data("id");

                  $("#btnDelete").click(function () {
                    $.ajax({
                        type: "POST",
                        dataType: 'json',
                        url: '@Url.Action("Delete", "Book")',
                        data: { commentId: data },
                        success: function () {
                            toastr.success("Yorum başarıyla silindi.");
                            $('#exampleModalDelete').modal('hide');
                            window.location.reload();
                        },
                       
                        error: function (error) {
                            toastr.error(error.responseText);
                        }
                    })
                      
                })
            });
        });


    </script>

}


