@model BitirmeProjesi.Entities.Dtos.BookDto

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        @await Html.PartialAsync("_LayoutListGroupPartial")

        <div class="col-lg-7">

            <div class="card mt-6">

                <img class="card-img-top " src="~/img/@Model.Book.ThumbNail">
                <div class="card-body">
                    <h3 class="card-title"></h3>
                    <h4 class="text-info text-center">@Model.Book.Title</h4>
                    <p class="card-text">@Model.Book.Subject</p>
                    <span class="text-info">Yazar:</span>
                    @Model.Book.Writer
                    <br />
                    <span class="text-info">Sayfa Sayısı:</span>
                    @Model.Book.Page
                    <br />
                    <span class="text-info">Kategori:</span>
                    @Model.Book.Category
                    <br />
                    <span class="text-info">Kitap Tarzı:</span>
                    @Model.Book.Production
                    <br />

                </div>
            </div>
            <!-- /.card -->

           
            <div class="card card-outline-secondary my-4">
                <div class="card-header  text-center">
                    Kitap Yorumları
                </div>
                <div class="card-body">
                    <p>@Model.Book.Comments</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <a href="#" class="btn btn-warning">Aktivitelere Ekle</a>
                </div>
            </div>
            <!-- /.card -->
        </div>

    </div>

</div>


