@{ 
    string active = string.Empty;
    if (TempData["Active"] != null)
    {
        active = TempData["Active"].ToString();
    }

}

<div class="collapse navbar-collapse" id="navbarResponsive">
    <form class="form-inline my-2 my-lg-0 bg-dark" asp-area="" asp-action="Search" asp-controller="Home" method="GET">
        <input class="form-control mr-sm-2 text-white bg-dark" name="SearchString" type="search" placeholder="Aramak istediğiniz metni giriniz." aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0 " type="submit" >Ara</button>
    </form>

    <ul class="navbar-nav ml-auto">

        <li class="nav-item  @(active=="Anasayfa"?"active":"")">
            <a class="nav-link text-white " asp-area="" asp-controller="Home" asp-action="Index">
                ANASAYFA
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item @(active=="Film"?"active":"")">
            <a class="nav-link text-white " asp-area="Admin" asp-controller="Movie" asp-action="Index"> FİLM</a>
        </li>
        <li class="nav-item  @(active=="Dizi"?"active":"")">
            <a class="nav-link text-white " asp-area="Admin" asp-controller="Serie" asp-action="Index"> DİZİ</a>
        </li>
        <li class="nav-item  @(active=="Kitap"?"active":"")">
            <a class="nav-link text-white " asp-area="Admin" asp-controller="Book" asp-action="Index"> KİTAP </a>
        </li>

        <li class="nav-item @(active=="Aktiviteler"?"active":"")">
            <a class="nav-link text-white" asp-area="Admin" asp-controller="Activities" asp-action="Index">AKTİVİTELER</a>
        </li>


        <li class="nav-item dropdown @(active=="ModTesti"?"active":"")">
            <a class="nav-link dropdown-toggle text-white @(active=="ModTesti"?"active":"")" id="navbarDropdownMod" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MOD TESTİ
            </a>
            <div class="dropdown-menu text-white " aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white " asp-area="Admin" asp-controller="Serie" asp-action="MoodTesting">Dizi Mod Testi</a>
                <a class="dropdown-item text-white " asp-area="Admin" asp-controller="Movie" asp-action="MoodTesting">Film Mod Testi</a>
                <a class="dropdown-item text-white" asp-area="Admin" asp-controller="Book" asp-action="MoodTesting">Kitap Mod Testi</a>
            </div>
        </li>


        <li class="nav-item dropdown @(active=="Kullanıcı"?"active":"")">
            <a class="nav-link dropdown-toggle text-white @(active=="Kullanıcı"?"active":"")" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                KULLANICI İŞLEMLERİ
            </a>
            <div class="dropdown-menu text-white " aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white " asp-area="Admin" asp-controller="User" asp-action="Login">Giriş Yap/ Kayıt Ol</a>
                <a class="dropdown-item text-white " asp-area="Admin" asp-controller="User" asp-action="UserEditProfile">Bilgilerimi Düzenle</a>
                <a class="dropdown-item text-white " asp-area="Admin" asp-controller="User" asp-action="PasswordChange">Şifremi Değiştir</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white" asp-area="Admin" asp-controller="User" asp-action="Logout">Çıkış Yap</a>
            </div>
        </li>
    </ul>
</div>